<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\App\Http\Context">
        <plugin name="weltpixel-newsletter-context"
                type="WeltPixel\Newsletter\Plugin\HttpContext" sortOrder="5"/>
    </type>
    <type name="Magento\ReCaptchaUi\Model\IsCaptchaEnabledInterface">
        <plugin name="weltpixel-recaptcha-isenabled"
                type="WeltPixel\Newsletter\Plugin\Captcha\IsCaptchaEnabled" sortOrder="10"/>
    </type>
    <type name="Magento\ReCaptchaUi\Model\UiConfigResolverInterface">
        <plugin name="weltpixel-recaptcha-configresolver"
                type="WeltPixel\Newsletter\Plugin\Captcha\ConfigResolver" sortOrder="10"/>
    </type>
    <type name="Magento\ReCaptchaUi\Model\CaptchaTypeResolverInterface">
        <plugin name="weltpixel-recaptcha-typeresolver"
                type="WeltPixel\Newsletter\Plugin\Captcha\TypeResolver" sortOrder="10"/>
    </type>
</config>
