<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="core_layout_render_element">
        <observer name="weltpixel_speedoptimization" instance="WeltPixel\SpeedOptimization\Observer\CoreLayoutRenderElementObserver" />
    </event>
    <event name="view_block_abstract_to_html_after">
        <observer name="weltpixel_speedoptimization" instance="WeltPixel\SpeedOptimization\Observer\BlockAfterToHtml" />
    </event>
    <event name="layout_load_before">
        <observer name="weltpixel_speedoptimization" instance="WeltPixel\SpeedOptimization\Observer\AddCustomLayoutsObserver" />
    </event>
</config>
