<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Magento_Backend::stores">
					<resource id="Magento_Backend::stores_settings">
						<resource id="Magento_Config::config">
							<resource id="WeltPixel_SmartProductTabs::SmartProductTabsSettings" title="WeltPixel Smart Product Tabs" sortOrder="260" />
						</resource>
					</resource>
				</resource>
				<resource id="WeltPixel_Backend::WeltPixel" >
					<resource id="WeltPixel_SmartProductTabs::SmartProductTabs_Label" sortOrder="70" title="Smart Product Tabs" >
						<resource id="WeltPixel_SmartProductTabs::SmartProductTabs" sortOrder="10" title="Smart Product Tabs Settings" />
						<resource id="WeltPixel_SmartProductTabs::SmartProductTabsGrid" sortOrder="20" title="Smart Product Tabs Grid" />
					</resource>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
