<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="WeltPixel_NavigationLinks::MegamenuSettings" title="WeltPixel Megamenu" sortOrder="260" />
                        </resource>
                    </resource>
                </resource>
                <resource id="WeltPixel_Backend::WeltPixel">
                    <resource id="WeltPixel_NavigationLinks::MegaMenu_Label" sortOrder="80" title="Mega Menu" >
                        <resource id="WeltPixel_NavigationLinks::Megamenu" sortOrder="10" title="Mega Menu Settings" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
