<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="weltpixel_sitemap" translate="label" type="text" sortOrder="165" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Sitemap Generation</label>
            <tab>weltpixel</tab>
            <resource>WeltPixel_Sitemap::SitemapSettings</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Sitemap General Settings</label>
                <field id="use_canonical_url_for_product" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Use Canonical URL in Sitemap for All Products</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Choose Yes if you'd like the Sitemap to use the Canonical URL for all Products that have it set at the product-level. This will override the product-level Use Canonical URL in Sitemap setting.</comment>
                </field>
                <field id="use_canonical_url_for_category" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Use Canonical URL in Sitemap for All Categories</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Choose Yes if you'd like the Sitemap to use the Canonical URL for all Categories that have it set at the category-level. This will override the category-level Use Canonical URL in Sitemap setting.</comment>
                </field>
                <field id="use_canonical_url_for_cmspage" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Use Canonical URL in Sitemap for all CMS Pages</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Choose Yes if you'd like the Sitemap to use the Canonical URL for all CMS Pages that have it set at the CMS Page-level. This will override the CMS Page-level Use Canonical URL in Sitemap setting.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
