.catalog-category-view {
    .page-title {
        text-align: center;
    }
}

.catalog-product-view {
    .product-info-main {
        .stock.available {
            margin-block-start: 20px;
        }

        .configurable-variation-qty {
            display: none;
        }
    }
}