<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Block\Product\View">
        <plugin name="weltpixel-productpage-block-product-view"
                type="WeltPixel\ProductPage\Plugin\BlockProductView" sortOrder="10"/>
    </type>
    <type name="Magento\Framework\View\Page\Config\Reader\Head">
        <plugin name="weltpixel-productpage-head"
                type="WeltPixel\ProductPage\Plugin\Head" sortOrder="10"/>
    </type>
    <type name="Magento\Catalog\Block\Product\View\Gallery">
        <plugin name="weltpixel-productpage-block-product-view-gallery"
                type="WeltPixel\ProductPage\Plugin\BlockProductViewGallery" sortOrder="20"/>
    </type>
    <type name="Magento\Catalog\Block\Product\View\GalleryOptions">
        <plugin name="weltpixel-productpage-block-product-view-gallery-options"
                type="WeltPixel\ProductPage\Plugin\BlockProductViewGalleryOptions" sortOrder="20"/>
    </type>
    <type name="Magento\ConfigurableProduct\Block\Product\View\Type\Configurable">
        <plugin name="weltpixel-productpage-block-product-view-configurable-gallery-switch-stratergy"
                type="WeltPixel\ProductPage\Plugin\BlockProductViewTypeConfigurable" sortOrder="20"/>
    </type>
    <type name="Magento\Swatches\Helper\Media">
        <plugin name="weltpixel-productpage-swatches-media"
                type="WeltPixel\ProductPage\Plugin\SwatchesMedia" sortOrder="20"/>
    </type>
    <type name="Magento\Catalog\Block\Product\ListProduct">
        <plugin name="weltpixel-productpage-block-product-list"
                type="WeltPixel\ProductPage\Plugin\BlockProductList"
                sortOrder="10"/>
    </type>
    <virtualType name="Magento\CatalogSearch\Block\SearchResult\ListProduct">
        <plugin name="weltpixel-productpage-block-product-list"
                type="WeltPixel\ProductPage\Plugin\BlockProductList"  sortOrder="10" />
    </virtualType>
</config>
