<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <weltpixel_product_page>
            <general>
                <display_swatch_tooltip>1</display_swatch_tooltip>
                <image_area_width>60%</image_area_width>
                <move_description_tabs_under_info_area>0</move_description_tabs_under_info_area>
                <position_product_info>1</position_product_info>
                <product_info_area_width>35%</product_info_area_width>
                <qty_select_maxvalue>10</qty_select_maxvalue>
                <qty_type>select</qty_type>
                <qty_plus_minus_border_radius>1px</qty_plus_minus_border_radius>
                <qty_add_to_cart_position>actions</qty_add_to_cart_position>
                <remove_breadcrumbs>0</remove_breadcrumbs>
                <remove_compare>1</remove_compare>
                <remove_email>0</remove_email>
                <remove_qty_box>0</remove_qty_box>
                <remove_sku>0</remove_sku>
                <remove_stock_availability>0</remove_stock_availability>
                <accordion_version>0</accordion_version>
                <accordion_collapsible>0</accordion_collapsible>
                <accordion_closed>0</accordion_closed>
                <tabs_version>0</tabs_version>
                <remove_wishlist>1</remove_wishlist>
                <tabs_layout>tab</tabs_layout>
                <accordion_version>0</accordion_version>
                <tabs_bar_background_color>#FFFFFF</tabs_bar_background_color>
            </general>
            <gallery>
                <strategy_configurable_products>prepend</strategy_configurable_products>
                <arrows>true</arrows>
                <caption>false</caption>
                <keyboard>true</keyboard>
                <loop>true</loop>
                <nav>thumbs</nav>
                <navarrows>true</navarrows>
                <navdir>vertical</navdir>
                <navtype>slides</navtype>
                <transition_duration>500</transition_duration>
                <transition_effect>slide</transition_effect>
            </gallery>
            <fullscreen>
                <allowfullscreen>false</allowfullscreen>
            </fullscreen>
            <magnifier>
                <enabled>false</enabled>
                <eventtype>hover</eventtype>
                <fullscreenzoom>5</fullscreenzoom>
                <height></height>
                <left></left>
                <top></top>
                <width></width>
                <zoom_type>outside</zoom_type>
            </magnifier>
            <swatch>
                <font_size>10px</font_size>
                <height>25px</height>
                <line_height>24px</line_height>
                <radius>25px</radius>
                <width>25px</width>
                <auto_select>0</auto_select>
                <apply_to_text_swatches>1</apply_to_text_swatches>
            </swatch>
            <css>
                <tab_active_background>#FFFFFF</tab_active_background>
                <tab_background>#FFFFFF</tab_background>
                <tab_container_padding>100px</tab_container_padding>
                <tab_text_active_color>#000000</tab_text_active_color>
                <tab_text_color>#000000</tab_text_color>
                <thumbnail_border>#CCCCCC</thumbnail_border>
                <page_background_color>#FFFFFF</page_background_color>
                <page_background_color_top_v3>#FFFFFF</page_background_color_top_v3>
                <page_background_color_bottom_v3>#FFFFFF</page_background_color_bottom_v3>
            </css>
            <images>
                <main_image_height>1000</main_image_height>
                <main_image_width>1250</main_image_width>
                <thumb_image_height></thumb_image_height>
                <thumb_image_width></thumb_image_width>
            </images>
            <size_chart>
                <enable>0</enable>
                <size_chart_custom_cms>weltpixel_size_chart</size_chart_custom_cms>
                <size_chart_custom_label>Size Chart</size_chart_custom_label>
                <size_chart_conditions><![CDATA[{"conditions":{"1":{"type":"Magento\\CatalogWidget\\Model\\Rule\\Condition\\Combine","aggregator":"all","value":"1","new_child":""}}}]]></size_chart_conditions>
            </size_chart>
            <visitor_counter>
                <enable>0</enable>
                <session_identifier>session</session_identifier>
                <update_frequency>pagerefresh</update_frequency>
                <realtime_update_frequency>5</realtime_update_frequency>
                <refresh_delay>40</refresh_delay>
                <display_text>Currently, {visitor_counter} people are looking at this product</display_text>
                <display_limit>0</display_limit>
            </visitor_counter>
            <prevnext>
                <enable>0</enable>
                <productname>inline</productname>
            </prevnext>
            <sale_message>
                <enable>0</enable>
                <content><![CDATA[You Save {discount_percent} ({discount_value})]]></content>
            </sale_message>
            <sticky_addtocart>
                <enable_desktop>0</enable_desktop>
                <display_on_desktop>product_image,product_name,product_review,product_price,addtocart_button,addto_wishlist</display_on_desktop>
                <enable_mobile>0</enable_mobile>
                <display_on_mobile>product_name,product_price,addtocart_button</display_on_mobile>
                <sticky_cart_mode>replace</sticky_cart_mode>
                <sticky_cart_mode_mobile>default</sticky_cart_mode_mobile>
            </sticky_addtocart>
        </weltpixel_product_page>
    </default>
</config>




