<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <weltpixel_custom_header>
            <general>
                <header_style>v1</header_style>
            </general>
            <global_promo>
                <enable>0</enable>
                <text_color>#ce2222</text_color>
                <background_color>#ffe8e8</background_color>
                <glb_message_position>above_menu</glb_message_position>
                <custom_block_global_promo_message>weltpixel_global_promo_message</custom_block_global_promo_message>
            </global_promo>
            <top_header>
                <active_link_color>#FFFFFF</active_link_color>
                <background_color>#FFFFFF</background_color>
                <border_bottom_color>#D6D6D6</border_bottom_color>
                <hover_link_color>#F3F3F3</hover_link_color>
                <link_color>#000000</link_color>
                <text_color>#000000</text_color>
                <visited_link_color>#030303</visited_link_color>
                <submenu_link_color>#212121</submenu_link_color>
                <submenu_hover_link_color>#000000</submenu_hover_link_color>
                <width>1400px</width>
            </top_header>
            <search_options>
                <background></background>
			    <border_color>#CCCCCC</border_color>
			    <border_style>solid</border_style>
			    <border_width></border_width>
			    <color>#5C5C5C</color>
			    <font_size>12px</font_size>
			    <height>30px</height>
			    <width>250px</width>
                <background_v2>#191919</background_v2>
                <background_opacity>0.95</background_opacity>
                <background_input>#222222</background_input>
                <main_elements_color>#F8F8F8</main_elements_color>
                <display_magnifier>1</display_magnifier>
                <magnifier_background_color>#000000</magnifier_background_color>
                <input_borders>0</input_borders>
                <input_font_size>18</input_font_size>
                <border_widthv2>3</border_widthv2>
                <placeholder_text>Type at least 3 characters to search</placeholder_text>
                <customHtml>&lt;p class=&quot;search-description&quot;&gt; &lt;span&gt;# Type at least 3 character to search&lt;/span&gt; &lt;span&gt;# Hit enter to search&lt;/span&gt; &lt;/p&gt; &lt;style&gt; .search-description{ padding: 10px 20px; } .search-description span{ color: #F8F8F8; margin-right: 20px; } &lt;/style&gt;</customHtml>
            </search_options>
            <middle_header>
	            <width>1400px</width>
	            <background></background>
            </middle_header>
            <bottom_header>
	            <background></background>
	            <hover_link_color>#CCCCCC</hover_link_color>
	            <link_color>#000000</link_color>
	            <shadow></shadow>
	            <width>1400px</width>
            </bottom_header>
            <sticky_header>
                <enable>1</enable>
                <custom_logo_size_on_sticky>0</custom_logo_size_on_sticky>
                <enable_mobile>0</enable_mobile>
                <sticky_background_color>#FFFFFF</sticky_background_color>
            </sticky_header>
	        <icons>
		        <icon_size>16px</icon_size>
		        <icon_color>#000000</icon_color>
		        <icon_color_hover>#CCCCCC</icon_color_hover>
	        </icons>
            <special_header_logo>
                <enable>0</enable>
            </special_header_logo>
        </weltpixel_custom_header>
    </default>
</config>
