<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Block\Product\Widget\Html\Pager">
        <plugin name="weltpixel_ajaxcatalog_pager" type="WeltPixel\AjaxInfiniteScroll\Plugin\Html\Pager" sortOrder="1" disabled="false"/>
    </type>
    <preference for="Magento\Catalog\Block\Product\ListProduct" type="WeltPixel\AjaxInfiniteScroll\Block\Product\ListProduct"/>
</config>