<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="WeltPixel_CustomFooter::CustomFooter" title="Custom Footer" module="WeltPixel_CustomFooter" action="adminhtml/system_config/edit/section/weltpixel_custom_footer/" sortOrder="35" parent="WeltPixel_Backend::Pearl_Theme_Options" resource="WeltPixel_CustomFooter::CustomFooter"/>
    </menu>
</config>