<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <weltpixel_frontend_options>
            <breakpoints>
                <screen__l>1024px</screen__l>
                <screen__m>768px</screen__m>
                <screen__s>640px</screen__s>
                <screen__xl>1440px</screen__xl>
                <screen__xs>480px</screen__xs>
                <screen__xxs>320px</screen__xxs>
            </breakpoints>
            <section_width>
                <category_page>1400px</category_page>
                <cms_page>100%</cms_page>
                <default_page>100%</default_page>
                <footer>100%</footer>
                <page_main>1400px</page_main>
                <page_main_padding>0 15px</page_main_padding>
                <product_page>1400px</product_page>
                <row>1400px</row>
            </section_width>
            <ratings>
                <rating____icon__active__color>#000000</rating____icon__active__color>
                <rating____icon__color>#B3B3B3</rating____icon__color>
                <rating____icon__font____size>12px</rating____icon__font____size>
            </ratings>
            <primary_buttons>
                <button____primary__background>#000000</button____primary__background>
                <button____primary__border>#000000</button____primary__border>
                <button____primary__color>#FFFFFF</button____primary__color>
                <button____primary__hover__background>#FFFFFF</button____primary__hover__background>
                <button____primary__hover__border>#000000</button____primary__hover__border>
                <button____primary__hover__color>#000000</button____primary__hover__color>
                <button____primary__line____height>18px</button____primary__line____height>
                <button____primary__border____radius>1px</button____primary__border____radius>
            </primary_buttons>
            <default>
                <font____family__base>Source Sans Pro</font____family__base>
                <font____family__base_characterset>latin</font____family__base_characterset>
                <font____size__base></font____size__base>
                <font____style__base></font____style__base>
                <font__letter____spacing>0</font__letter____spacing>
                <font____weight__regular>400</font____weight__regular>
                <line____height__computed></line____height__computed>
                <text__color>#303030</text__color>
            </default>
            <navigation>
                <navigation__background></navigation__background>
                <navigation____level0____item__active__color></navigation____level0____item__active__color>
            </navigation>
            <google_font_options>
                <asyn_webfont_load>1</asyn_webfont_load>
            </google_font_options>
            <main_options>
                <active__color>#333333</active__color>
                <error__color>#FF0A0A</error__color>
                <layout__max____width>1200px</layout__max____width>
                <page__background____color>#FFFFFF</page__background____color>
                <primary__color>#000000</primary__color>
                <secondary__color>#292929</secondary__color>
            </main_options>
            <links>
                <link__color>#000000</link__color>
                <link__hover__color>#CCCCCC</link__hover__color>
                <link__hover__text____decoration></link__hover__text____decoration>
                <link__text____decoration></link__text____decoration>
            </links>
            <h6>
                <h6__font____color>#303030</h6__font____color>
                <h6__font____family>Questrial</h6__font____family>
                <h6__font____family_characterset>latin</h6__font____family_characterset>
                <h6__font____size></h6__font____size>
                <h6__font____style></h6__font____style>
                <h6__letter____spacing>0</h6__letter____spacing>
                <h6__font____weight>400</h6__font____weight>
                <h6__line____height></h6__line____height>
            </h6>
            <h5>
                <h5__font____color>#303030</h5__font____color>
                <h5__font____family>Questrial</h5__font____family>
                <h5__font____family_characterset>latin</h5__font____family_characterset>
                <h5__font____size></h5__font____size>
                <h5__font____style></h5__font____style>
                <h5__letter____spacing>0</h5__letter____spacing>
                <h5__font____weight>400</h5__font____weight>
                <h5__line____height></h5__line____height>
            </h5>
            <h4>
                <h4__font____color>#303030</h4__font____color>
                <h4__font____family>Questrial</h4__font____family>
                <h4__font____family_characterset>latin</h4__font____family_characterset>
                <h4__font____size></h4__font____size>
                <h4__font____style></h4__font____style>
                <h4__letter____spacing>0</h4__letter____spacing>
                <h4__font____weight>400</h4__font____weight>
                <h4__line____height></h4__line____height>
            </h4>
            <h3>
                <h3__font____color>#303030</h3__font____color>
                <h3__font____family>Questrial</h3__font____family>
                <h3__font____family_characterset>latin</h3__font____family_characterset>
                <h3__font____size></h3__font____size>
                <h3__font____style></h3__font____style>
                <h3__letter____spacing>0</h3__letter____spacing>
                <h3__font____weight>400</h3__font____weight>
                <h3__line____height></h3__line____height>
            </h3>
            <h2>
                <h2__font____color>#303030</h2__font____color>
                <h2__font____family>Questrial</h2__font____family>
                <h2__font____family_characterset>latin</h2__font____family_characterset>
                <h2__font____size></h2__font____size>
                <h2__font____style></h2__font____style>
                <h2__letter____spacing>0</h2__letter____spacing>
                <h2__font____weight>400</h2__font____weight>
                <h2__line____height></h2__line____height>
            </h2>
            <h1>
                <h1__font____color>#303030</h1__font____color>
                <h1__font____family>Questrial</h1__font____family>
                <h1__font____family_characterset>latin</h1__font____family_characterset>
                <h1__font____size>30px</h1__font____size>
                <h1__font____style>900</h1__font____style>
                <h1__letter____spacing>0</h1__letter____spacing>
                <h1__font____weight>900</h1__font____weight>
                <h1__line____height>60px</h1__line____height>
            </h1>
            <form_inputs>
                <form____element____input__background></form____element____input__background>
                <form____element____input__border></form____element____input__border>
                <form____element____input__border____color></form____element____input__border____color>
                <form____element____input__border____radius></form____element____input__border____radius>
                <form____element____input__color></form____element____input__color>
                <form____element____input__font____family>0</form____element____input__font____family>
                <form____element____input__font____size></form____element____input__font____size>
                <form____element____input__font____style></form____element____input__font____style>
                <form____element____input__font____weight></form____element____input__font____weight>
                <form____element____input__height></form____element____input__height>
                <form____element____input__line____height></form____element____input__line____height>
                <form____element____input____placeholder__color></form____element____input____placeholder__color>
            </form_inputs>
            <dropdown>
                <dropdown____list__background>#FFFFFF</dropdown____list__background>
                <dropdown____list__border>#CCCCCC</dropdown____list__border>
                <dropdown____list__shadow>0px 20px 50px -20px rgba(0, 0, 0, 0.5)</dropdown____list__shadow>
                <dropdown____list____item__hover>#F4F4F4</dropdown____list____item__hover>
                <dropdown____list____pointer__border>#FFFFFF</dropdown____list____pointer__border>
            </dropdown>
            <default_buttons>
                <button__background>#000000</button__background>
                <button__border>#000000</button__border>
                <button__border____radius>1px</button__border____radius>
                <button__color>#FFFFFF</button__color>
                <button__font____family>Source Sans Pro</button__font____family>
                <button__font____family_characterset>latin</button__font____family_characterset>
                <button__font____size>18px</button__font____size>
                <button__font____weight>400</button__font____weight>
                <button__hover__background>#FFFFFF</button__hover__background>
                <button__hover__border>#000000</button__hover__border>
                <button__hover__color>#000000</button__hover__color>
                <button__line____height>18px</button__line____height>
                <button__letter____spacing>0</button__letter____spacing>
            </default_buttons>
            <breadcrumbs>
                <breadcrumbs__font____size>12px</breadcrumbs__font____size>
                <breadcrumbs__font____style>italic</breadcrumbs__font____style>
                <breadcrumbs__separator____color>#505050</breadcrumbs__separator____color>
                <breadcrumbs____background>#F9F7FC;</breadcrumbs____background>
                <breadcrumbs____current__color>#000000</breadcrumbs____current__color>
                <breadcrumbs____link__color>#505050</breadcrumbs____link__color>
                <breadcrumbs____link__hover__text____decoration>#505050</breadcrumbs____link__hover__text____decoration>
                <breadcrumbs____link__padding>15px</breadcrumbs____link__padding>
            </breadcrumbs>
            <icons>
                <icon__font____size>16px</icon__font____size>
                <icon_label__font____size>12px</icon_label__font____size>
            </icons>
            <price>
                <old_price__line____through>1</old_price__line____through>
            </price>
            <contact_options>
                <contact_version>v1</contact_version>
                <enable_block>0</enable_block>
            </contact_options>
        </weltpixel_frontend_options>
    </default>
</config>
