
/*-----------------------------------------------------------------------------------

    Shortcodes: buttons.css

-----------------------------------------------------------------------------------*/




/* ----------------------------------------------------------------
	wp-buttons
-----------------------------------------------------------------*/


.wp-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    outline: none;
    white-space: nowrap;
    margin: 5px;
    padding: 0 22px;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    background-color: #d83701;
    color: #FFF;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-decoration: none;
}

a.wp-button {
    color: #fff;
    text-decoration: none;
}

body:not(.device-touch) .wp-button {
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.wp-button-dark { background-color: #444; }

.wp-button-light {
    background-color: #EEE;
    color: #333!important;
    text-shadow: none !important;
}

.wp-button:hover {
    background-color: #444;
    color: #FFF;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.wp-button.wp-button-dark:hover { background-color: #d83701; }

.wp-button.wp-button-mini {
    padding: 0 14px;
    font-size: 11px;
    height: 28px;
    line-height: 28px;
}

.wp-button.wp-button-small {
    padding: 0 17px;
    font-size: 12px;
    height: 34px;
    line-height: 34px;
}

.wp-button.wp-button-large {
    padding: 0 26px;
    font-size: 16px;
    height: 46px;
    line-height: 46px;
}

.wp-button.wp-button-xlarge {
    padding: 0 32px;
    font-size: 18px;
    letter-spacing: 2px;
    height: 52px;
    line-height: 52px;
}

.wp-button.wp-button-desc {
    text-align: left;
    padding: 24px 34px;
    font-size: 22px;
    height: auto;
    line-height: 1;
    font-family: 'Raleway', sans-serif;
}

.wp-button.wp-button-desc span {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'Crete Round', serif;
    font-style: italic;
    text-transform: none;
}

.wp-button i {
    position: relative;
    top: 1px;
    line-height: 1;
    margin-right: 5px;
}

.wp-button.tright i { margin: 0 0 0 5px; }

.wp-button-mini i { margin-right: 3px; }

.wp-button-mini.tright i { margin: 0 0 0 3px; }

.wp-button-small i { margin-right: 4px; }

.wp-button-small.tright i { margin: 0 0 0 4px; }

.wp-button-xlarge i {
    top: 2px;
    margin-right: 8px;
}

.wp-button-xlarge.tright i { margin: 0 0 0 8px; }

.wp-button.wp-button-desc i {
    top: 1px;
    font-size: 48px;
    width: 48px;
    text-align: center;
    margin-right: 12px;
}

.wp-button.wp-button-desc.tright i { margin: 0 0 0 12px; }

.wp-button.wp-button-desc div { display: inline-block; }

.wp-button.wp-button-rounded { border-radius: 3px; }


/* wp-buttons - Border
-----------------------------------------------------------------*/

.wp-button.wp-button-border {
    border: 2px solid #444;
    background-color: transparent;
    color: #333;
    line-height: 36px;
    font-weight: 600;
    text-shadow: none;
}

.wp-button.wp-button-border.wp-button-mini { line-height: 24px; }

.wp-button.wp-button-border.wp-button-small { line-height: 30px; }

.wp-button.wp-button-border.wp-button-large { line-height: 42px; }

.wp-button.wp-button-border.wp-button-xlarge { line-height: 48px; }

.wp-button.wp-button-border.wp-button-desc { line-height: 1; }

.wp-button.wp-button-border:hover {
    background-color: #444;
    color: #FFF;
    border-color: transparent !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.wp-button.wp-button-border.wp-button-light {
    border-color: #EEE;
    color: #EEE!important;
}

.wp-button.wp-button-border.wp-button-light:hover {
    background-color: #EEE;
    color: #333!important;
    text-shadow: none;
}


/* wp-buttons - Border
-----------------------------------------------------------------*/

.wp-button.wp-button-3d {
    border-radius: 3px;
    border-bottom: 3px solid rgba(0,0,0,0.15);
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

.wp-button.wp-button-3d:hover {
    background-color: #d83701 !important;
    opacity: 0.9;
}

.wp-button.wp-button-3d.wp-button-light:hover,
.wp-button.wp-button-reveal.wp-button-light:hover {
    text-shadow: none;
    color: #333;
}


/* wp-buttons - Icon Reveal
-----------------------------------------------------------------*/

.wp-button.wp-button-reveal {
    padding: 0 28px;
    overflow: hidden;
}

.wp-button.wp-button-reveal i {
    display: block;
    position: absolute;
    top: 0;
    left: -32px;
    width: 32px;
    height: 40px;
    line-height: 40px;
    margin: 0;
    text-align: center;
    background-color: rgba(0,0,0,0.1);
}

.wp-button.wp-button-reveal.wp-button-border i { top: -2px; }

.wp-button.wp-button-reveal.tright i {
    left: auto;
    right: -32px;
}

.wp-button.wp-button-reveal.wp-button-3d i,
.wp-button.wp-button-reveal.wp-button-rounded i { border-radius: 3px 0 0 3px; }

.wp-button.wp-button-reveal.wp-button-3d.tright i,
.wp-button.wp-button-reveal.wp-button-rounded.tright i { border-radius: 0 3px 3px 0; }

.wp-button.wp-button-reveal span {
    display: inline-block;
    position: relative;
    left: 0;
}

body:not(.device-touch) .wp-button.wp-button-reveal i,
body:not(.device-touch) .wp-button.wp-button-reveal span {
    -webkit-transition: left 0.3s ease, right 0.3s ease;
    -o-transition: left 0.3s ease, right 0.3s ease;
    transition: left 0.3s ease, right 0.3s ease;
}

.wp-button.wp-button-reveal.wp-button-mini { padding: 0 17px; }

.wp-button.wp-button-reveal.wp-button-mini i {
    left: -22px;
    width: 22px;
    height: 28px;
    line-height: 28px;
}

.wp-button.wp-button-reveal.wp-button-mini.tright i {
    left: auto;
    right: -22px;
}

.wp-button.wp-button-reveal.wp-button-small { padding: 0 22px; }

.wp-button.wp-button-reveal.wp-button-small i {
    left: -26px;
    width: 26px;
    height: 34px;
    line-height: 34px;
}

.wp-button.wp-button-reveal.wp-button-small.tright i {
    left: auto;
    right: -26px;
}

.wp-button.wp-button-reveal.wp-button-large { padding: 0 32px; }

.wp-button.wp-button-reveal.wp-button-large i {
    left: -38px;
    width: 38px;
    height: 46px;
    line-height: 46px;
}

.wp-button.wp-button-reveal.wp-button-large.tright i {
    left: auto;
    right: -38px;
}

.wp-button.wp-button-reveal.wp-button-xlarge { padding: 0 40px; }

.wp-button.wp-button-reveal.wp-button-xlarge i {
    left: -44px;
    width: 44px;
    height: 52px;
    line-height: 52px;
}

.wp-button.wp-button-reveal.wp-button-xlarge.tright i {
    left: auto;
    right: -44px;
}

.wp-button.wp-button-reveal:hover i { left: 0; }

.wp-button.wp-button-reveal.tright:hover i {
    left: auto;
    right: 0;
}

.wp-button.wp-button-reveal:hover span { left: 16px; }

.wp-button.wp-button-reveal.wp-button-mini:hover span { left: 11px; }

.wp-button.wp-button-reveal.wp-button-small:hover span { left: 13px; }

.wp-button.wp-button-reveal.wp-button-large:hover span { left: 19px; }

.wp-button.wp-button-reveal.wp-button-xlarge:hover span { left: 22px; }

.wp-button.wp-button-reveal.tright:hover span { left: -16px; }

.wp-button.wp-button-reveal.wp-button-mini.tright:hover span { left: -11px; }

.wp-button.wp-button-reveal.wp-button-small.tright:hover span { left: -13px; }

.wp-button.wp-button-reveal.wp-button-large.tright:hover span { left: -19px; }

.wp-button.wp-button-reveal.wp-button-xlarge.tright:hover span { left: -22px; }


/* wp-buttons - Promo 100% Width
-----------------------------------------------------------------*/

.wp-button.wp-button-full {
    display: block !important;
    white-space: normal;
    margin: 0;
    height: auto;
    line-height: 1.6;
    padding: 30px 0;
    font-size: 30px;
    font-weight: 300;
    text-transform: none;
    border-radius: 0;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.wp-button.wp-button-full.wp-button-light { border-bottom: 1px solid rgba(0,0,0,0.15); }

.wp-button.wp-button-full strong {
    font-weight: 600;
    border-bottom: 2px solid #EEE;
}

body:not(.device-touch) .wp-button.wp-button-full strong {
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.wp-button.wp-button-full.wp-button-light strong { border-bottom-color: #333; }

.wp-button.wp-button-full.wp-button-light:hover strong { border-bottom-color: #EEE; }


/* wp-buttons - Colors
-----------------------------------------------------------------*/

.wp-button-red { background-color: #C02942; }
.wp-button-3d.wp-button-red:hover,
.wp-button-reveal.wp-button-red:hover { background-color: #C02942 !important; }

.wp-button-teal { background-color: #53777A; }
.wp-button-3d.wp-button-teal:hover,
.wp-button-reveal.wp-button-teal:hover { background-color: #53777A !important; }

.wp-button-yellow { background-color: #ECD078; }
.wp-button-3d.wp-button-yellow:hover,
.wp-button-reveal.wp-button-yellow:hover { background-color: #ECD078 !important; }

.wp-button-green { background-color: #59BA41; }
.wp-button-3d.wp-button-green:hover,
.wp-button-reveal.wp-button-green:hover { background-color: #59BA41 !important; }

.wp-button-brown { background-color: #774F38; }
.wp-button-3d.wp-button-brown:hover,
.wp-button-reveal.wp-button-brown:hover { background-color: #774F38 !important; }

.wp-button-aqua { background-color: #40C0CB; }
.wp-button-3d.wp-button-aqua:hover,
.wp-button-reveal.wp-button-aqua:hover { background-color: #40C0CB !important; }

.wp-button-lime { background-color: #AEE239; }
.wp-button-3d.wp-button-lime:hover,
.wp-button-reveal.wp-button-lime:hover { background-color: #AEE239 !important; }

.wp-button-purple { background-color: #5D4157; }
.wp-button-3d.wp-button-purple:hover,
.wp-button-reveal.wp-button-purple:hover { background-color: #5D4157 !important; }

.wp-button-leaf { background-color: #A8CABA; }
.wp-button-3d.wp-button-leaf:hover,
.wp-button-reveal.wp-button-leaf:hover { background-color: #A8CABA !important; }

.wp-button-pink { background-color: #F89FA1; }
.wp-button-3d.wp-button-pink:hover,
.wp-button-reveal.wp-button-pink:hover { background-color: #F89FA1 !important; }

.wp-button-dirtygreen { background-color: #1693A5; }
.wp-button-3d.wp-button-dirtygreen:hover,
.wp-button-reveal.wp-button-dirtygreen:hover { background-color: #1693A5 !important; }

.wp-button-blue { background-color: #1265A8; }
.wp-button-3d.wp-button-blue:hover,
.wp-button-reveal.wp-button-blue:hover { background-color: #1265A8 !important; }

.wp-button-amber { background-color: #EB9C4D; }
.wp-button-3d.wp-button-amber:hover,
.wp-button-reveal.wp-button-amber:hover { background-color: #EB9C4D !important; }

.wp-button-black { background-color: #111; }
.wp-button-3d.wp-button-black:hover,
.wp-button-reveal.wp-button-black:hover { background-color: #111 !important; }

.wp-button-white { background-color: #F9F9F9; }
.wp-button-3d.wp-button-white:hover,
.wp-button-reveal.wp-button-white:hover { background-color: #F9F9F9 !important; }


/* wp-buttons - No Hover
-----------------------------------------------------------------*/

.wp-button.wp-button-nohover:hover {
    opacity: inherit !important;
    background-color: inherit !important;
    color: inherit !important;
    border-color: inherit !important;
}