//
//  Variables
//  _____________________________________________

@minicart-subtotal-price__font-size: @font-size__l * 2;

@minicart-items-total-wrapper__background: @color-yellow-light3;

@minicart-subtotal-price__color: @color-red9;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .block-minicart {

        .minicart-items-wrapper {
            margin-block-start: 15px;
        }

        .items-total-wrapper {
            .lib-css(background-color, @minicart-items-total-wrapper__background);
        }

        .subtotal {
            .lib-css(margin, @indent__s);
            text-align: center;
            .lib-css(padding-block-start, @minicart-qty__height);

            .label {
                .lib-css(font-weight, @font-weight__bold);
            }

            .amount {
                display: inline-block;
            }
        }

        .amount {
            .price-wrapper {
                &:first-child {
                    .price {
                        .lib-css(font-size, @minicart-subtotal-price__font-size);
                        .lib-css(color, @minicart-subtotal-price__color);
                    }
                }
            }
        }
        
    }
}
