<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="WeltPixel_Backend::WeltPixel">
                    <resource id="WeltPixel_SocialLogin::SocialLogin_Label" sortOrder="100"
                              title="SocialLogin">
                        <resource id="WeltPixel_SocialLogin::SocialLogin_General" sortOrder="10"
                                  title="SocialLogin Settings"/>
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="WeltPixel_SocialLogin::SocialLogin"
                                      title="WeltPixel SocialLogin" sortOrder="292"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>