<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <weltpixel_sociallogin>
            <general>
                <enable>0</enable>
                <show_on_cart>1</show_on_cart>
            </general>
            <fb>
                <enable_fb>0</enable_fb>
            </fb>
            <google>
                <enable_google>0</enable_google>
            </google>
            <amazon>
                <enable_amazon>0</enable_amazon>
            </amazon>
        </weltpixel_sociallogin>
    </default>
</config>