<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <weltpixel_design_elements>
            <general>
                <toggles_accordions_tabs>1</toggles_accordions_tabs>
                <testimonials>1</testimonials>
                <smooth_scrolling>1</smooth_scrolling>
                <sections>1</sections>
                <parallax>1</parallax>
                <responsive_helpers>1</responsive_helpers>
                <pricing_boxes>1</pricing_boxes>
                <icon_boxes>1</icon_boxes>
                <icons_core>1</icons_core>
                <icons_extended>1</icons_extended>
                <headings_blockquotes>1</headings_blockquotes>
                <flexslider>1</flexslider>
                <dividers>1</dividers>
                <buttons>1</buttons>
                <brand_lists>1</brand_lists>
                <bootstrap_tables>1</bootstrap_tables>
                <bootstrap_grids>1</bootstrap_grids>
                <animations_core>1</animations_core>
                <animations_extended>1</animations_extended>
                <aos_animation>1</aos_animation>
                <alert_boxes>1</alert_boxes>
                <btt_button>1</btt_button>
                <btt_offset>300</btt_offset>
                <btt_offset_opacity>1200</btt_offset_opacity>
                <btt_duration>700</btt_duration>
                <collapsible_top_jump>0</collapsible_top_jump>
                <calendar_css>0</calendar_css>
                <icon_boxes_core>1</icon_boxes_core>
                <icon_boxes_extended>1</icon_boxes_extended>
                <include_custom_css>0</include_custom_css>
            </general>
            <btt_product_page>
                <enable>0</enable>
                <btt_text_label>Back to top</btt_text_label>
                <btt_product_img>0</btt_product_img>
                <btt_reviews>0</btt_reviews>
                <btt_product_price>0</btt_product_price>
                <btt_background_color>#FFFFFF</btt_background_color>
                <btt_box_shadow>0 5px 20px rgba(0, 0, 0, 0.15)</btt_box_shadow>
                <btt_border_width>1px</btt_border_width>
                <btt_product_mobile_option>default</btt_product_mobile_option>
            </btt_product_page>
        </weltpixel_design_elements>
    </default>
</config>
