<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="WeltPixel_Sitemap::SitemapSettings" title="WeltPixel Sitemap" sortOrder="265" />
                        </resource>
                    </resource>
                </resource>
                <resource id="WeltPixel_Backend::WeltPixel">
                    <resource id="WeltPixel_Sitemap::Sitemap_Label" sortOrder="100" title="Sitemap" >
                        <resource id="WeltPixel_Sitemap::Sitemap" title="Custom Sitemap Urls" translate="title" sortOrder="10" />
                        <resource id="WeltPixel_Sitemap::SitemapOptionSettings" title="Sitemap Settings" translate="title" sortOrder="10" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
