<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <weltpixel_category_page>
            <general>
                <addtocart_align>center</addtocart_align>
                <display_addtocart>5</display_addtocart>
                <display_compare>0</display_compare>
                <display_swatches>2</display_swatches>
                <display_swatch_tooltip>0</display_swatch_tooltip>
                <display_wishlist>2</display_wishlist>
                <products_per_line>3</products_per_line>
                <remove_breadcrumbs>0</remove_breadcrumbs>
                <hover_products_animation>0</hover_products_animation>
                <hover_products_animation_speed>0.5</hover_products_animation_speed>
            </general>
            <image>
                <enable_hover_image>0</enable_hover_image>
                <grid_height>300</grid_height>
                <grid_width>240</grid_width>
                <list_height></list_height>
                <list_width></list_width>
            </image>
            <description>
                <enable_show_more>0</enable_show_more>
                <show_more_lines>3</show_more_lines>
                <animation_speed>300</animation_speed>
            </description>
            <item>
                <border_color>#FFFFFF</border_color>
                <border_width>0px</border_width>
                <box_shadow>0px 4px 11px 0px rgba(0,0,0,0.5)</box_shadow>
            </item>
            <name>
                <color>#000000</color>
                <font_size>14px</font_size>
                <name_align>center</name_align>
            </name>
            <price>
                <price_align>center</price_align>
                <price_color>#000000</price_color>
                <price_font_size>16px</price_font_size>
                <special_price_color>#000000</special_price_color>
                <special_price_font_size>16px</special_price_font_size>
            </price>
            <review>
                <display_reviews>1</display_reviews>
                <review_align>center</review_align>
            </review>
            <swatch_layerednavigation>
                <font_size>12px</font_size>
                <height>20px</height>
                <radius>22px</radius>
                <swatch_align>center</swatch_align>
                <width>22px</width>
                <apply_to_text_swatches>1</apply_to_text_swatches>
            </swatch_layerednavigation>
            <swatch_productlisting>
                <font_size>10px</font_size>
                <height>22px</height>
                <radius>20px</radius>
                <show_on_hover>1</show_on_hover>
                <swatch_align>center</swatch_align>
                <width>22px</width>
                <apply_to_text_swatches>1</apply_to_text_swatches>
            </swatch_productlisting>
            <toolbar>
                <background_color></background_color>
                <border_color></border_color>
                <direction_font_color></direction_font_color>
                <direction_font_hover_color></direction_font_hover_color>
                <direction_font_size>12px</direction_font_size>
                <grid_list_background_active_color>#FFFFFF</grid_list_background_active_color>
                <grid_list_background_color>#FFFFFF</grid_list_background_color>
                <grid_list_background_hover_color>#FFFFFF</grid_list_background_hover_color>
                <grid_list_border_active_color>#FFFFFF</grid_list_border_active_color>
                <grid_list_border_color>#FFFFFF</grid_list_border_color>
                <grid_list_border_hover_color>#FFFFFF</grid_list_border_hover_color>
                <grid_list_icon_active_color>#000000</grid_list_icon_active_color>
                <grid_list_icon_color>#BABABA</grid_list_icon_color>
                <grid_list_icon_hover_color>#2B2B2B</grid_list_icon_hover_color>
                <grid_list_icon_size>20px</grid_list_icon_size>
                <label_font_color></label_font_color>
                <label_font_size>12px</label_font_size>
                <padding>10px</padding>
                <pagination_background_active_color></pagination_background_active_color>
                <pagination_background_color></pagination_background_color>
                <pagination_background_hover_color></pagination_background_hover_color>
                <pagination_border_active_color>#CCCCCC</pagination_border_active_color>
                <pagination_border_color></pagination_border_color>
                <pagination_border_hover_color></pagination_border_hover_color>
                <pagination_border_radius>30px</pagination_border_radius>
                <pagination_font_active_color>#000000</pagination_font_active_color>
                <pagination_font_color>#454545</pagination_font_color>
                <pagination_font_hover_color>#A8A8A8</pagination_font_hover_color>
                <pagination_font_size></pagination_font_size>
                <pagination_next_prev_border_color>#FFFFFF</pagination_next_prev_border_color>
                <pagination_next_prev_border_hover_color>#000000</pagination_next_prev_border_hover_color>
                <pagination_next_prev_background_color>#FFFFFF</pagination_next_prev_background_color>
                <pagination_next_prev_background_hover_color>#000000</pagination_next_prev_background_hover_color>
                <pagination_next_prev_font_color>#000000</pagination_next_prev_font_color>
                <pagination_next_prev_font_hover_color>#FFFFFF</pagination_next_prev_font_hover_color>
                <pagination_next_prev_font_size>16px</pagination_next_prev_font_size>
                <select_arrow_color>#454545</select_arrow_color>
                <select_arrow_hover_color>#454545</select_arrow_hover_color>
                <select_background_color>#FFFFFF</select_background_color>
                <select_background_focus_color>#FFFFFF</select_background_focus_color>
                <select_border_color>#CCCCCC</select_border_color>
                <select_border_focus_color>#454545</select_border_focus_color>
                <select_border_radius>0px</select_border_radius>
                <select_border_width></select_border_width>
                <select_font_color>#454545</select_font_color>
                <select_font_size>13px</select_font_size>
                <select_option_background_hover_color></select_option_background_hover_color>
                <select_option_font_color>#454545</select_option_font_color>
            </toolbar>
            <layered_navigation_options>
                <layered_nav_bullet_options>1</layered_nav_bullet_options>
                <layered_nav_bullet_width>10px</layered_nav_bullet_width>
                <layered_nav_bullet_height>10px</layered_nav_bullet_height>
                <layered_nav_bullet_border>1px solid #999</layered_nav_bullet_border>
                <layered_nav_bullet_border_radius>15px</layered_nav_bullet_border_radius>
            </layered_navigation_options>
        </weltpixel_category_page>
    </default>
</config>


