<div class="flatrate-shipping-info" data-bind="visible: showFlatrateShippingInfo()" style="display: none;">
    <div class="step-title" data-role="title" data-bind="i18n: 'Flat Rate Shipping Information'"></div>
    <p class="desc" data-bind="i18n: 'Here add custom Flat Rate shipping text..'"></p>
</div>
<div class="table-rate-shipping-info" data-bind="visible: showTableRateShippingInfo()" style="display: none;">
    <div class="step-title" data-role="title" data-bind="i18n: 'Table Rate Delivery'"></div>
    <p class="desc" data-bind="i18n: 'Here add custom Table Rate shipping text..'"></p>
</div>