<li data-bind="fadeVisible: isVisible, attr: { id: stepCode }">
    <div class="step-title"
         data-bind="i18n: stepTitle"
         data-role="title">
    </div>
    <div id="checkout-step-title"
         class="step-content delivery-option-master"
         data-role="content">
        <div class="fieldset">
            <span>
                <!-- ko i18n: 'New Step Added' --><!-- /ko -->
            </span>
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button type="button"
                        class="action primary"
                        data-bind="click: navigateToNextStep">
                    <span>
                        <!-- ko i18n: 'Continue' --><!-- /ko -->
                    </span>
                </button>
            </div>
        </div>
    </div>
</li>