<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
<menu>
    <add
            id="WeltPixel_SearchAutoComplete::SearchAutoComplete_Label"
            title="Ajax Search Autocomplete"
            module="WeltPixel_SearchAutoComplete"
            sortOrder="80"
            parent="WeltPixel_Backend::WeltPixel"
            resource="WeltPixel_SearchAutoComplete::SearchAutoComplete_Label"
    />
    <add
            id="WeltPixel_SearchAutoComplete::SearchAutoComplete"
            title="Ajax Search Settings"
            module="WeltPixel_SearchAutoComplete"
            action="adminhtml/system_config/edit/section/weltpixel_searchautocomplete/"
            sortOrder="10"
            parent="WeltPixel_SearchAutoComplete::SearchAutoComplete_Label"
            resource="WeltPixel_SearchAutoComplete::SearchAutoComplete"
    />
</menu>
</config>