<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <weltpixel_infinite_scroll>
            <general>
                <ajax_catalog>1</ajax_catalog>
                <ajax_catalog_mode>infinite_scroll</ajax_catalog_mode>
                <ajax_catalog_category>1</ajax_catalog_category>
                <ajax_catalog_search>1</ajax_catalog_search>
                <ajax_catalog_advanced>1</ajax_catalog_advanced>
            </general>
            <advanced>
                <text_loading>Loading more products, please wait...</text_loading>
                <load_more>2</load_more>
                <show_viewed_products>0</show_viewed_products>
                <show_viewed_products_text>You've seen %1 of %2 products</show_viewed_products_text>
                <text_loadnext>Load next items</text_loadnext>
                <text_loadprevious>Load previous items</text_loadprevious>
                <text_nomore>No more items to load</text_nomore>
                <loading_early>0</loading_early>
                <negative_margin>150</negative_margin>
                <prev_next>0</prev_next>
                <use_custom_loading_placeholder>0</use_custom_loading_placeholder>
                <loading_image></loading_image>
                <placeholder_width></placeholder_width>
            </advanced>
        </weltpixel_infinite_scroll>
    </default>
</config>
